/* Media queries de mapas */

/* Para computadora grande */

@media only screen and (max-width: 7680px) {
    #map {
        width: 98%;
        height: 95%;
        position: absolute;

    }
}

@media only screen and (max-width: 5760px) {
    #map {
        width: 98%;
        height: 90%;
        position: absolute;

    }
}

@media only screen and (max-width: 2570px) {
    #map {
        width: 98%;
        height: 85%;
        position: absolute;

    }
}



@media only screen and (max-width: 2134px) {
    #map {
        width: 98%;
        height: 83%;
        position: absolute;

    }

}

@media only screen and (max-width: 1920px) {
    #map {
        width: 98%;
        height: 81%;
        position: absolute;

    }

}

@media only screen and (max-width: 1536px) {
    #map {
        width: 98%;
        height: 78%;
        position: absolute;

    }

}

@media only screen and (max-width: 1280px) {
    #map {
        width: 97%;
        height: 74%;
        position: absolute;

    }

}

@media only screen and (max-width: 1097.14px) {
    #map {
        width: 96%;
        height: 70%;
        position: absolute;

    }

}

@media only screen and (max-width: 952.5px) {
    #map {
        width: 96%;
        height: 64%;
        position: absolute;

    }

}